 <!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Membrane Distillation Modeling</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<script type="text/javascript" src="../static/js/main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
						<div id=PFD ondragover="dragover(event)" ondrop="dropped(event)">
						</div>
					</div>	
				</div>
			</main>
			<nav id="nav">
				<div class="innertube">
					<div class="tools">
							<fieldset class='fieldset1'>
								<legend>tools</legend>
				  						<input class="process" type="button"  id="AGMD" draggable ="true"  value="AGMD HF" ondragstart="startDrag(event)" >
				  						<br>
				  						<input class="process" type="button"  id="DCMD" draggable="true"  value="DCMD" ondragstart="startDrag(event)"><br>
				 						 <input  class="process" type="button" id="VMD" draggable="true"  value="VMD" ondragstart="startDrag(event)"><br>  
							</fieldset>
					</div>
				</div>
			</nav>
		</div>

	</body>
</html>


