<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Membrane Distillation Modeling</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<script type="text/javascript" src="../static/js/main.js"></script>
	</head>
	<body onload="processInfo({{processData}})">
		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
						<div id=PFD ondragover="dragover(event)" ondrop="dropped(event)">
						</div>
						<dialog id="parameters" draggable="false">
							<ul class="tab">
  							<li><a href="javascript:void(0)" class="tablinks" onclick="showTab(event, 'feed')" id="defaultOpen">Feed</a></li>
  							<li><a href="javascript:void(0)" class="tablinks" onclick="showTab(event, 'coolant')">Coolant</a></li>
 							 <li><a href="javascript:void(0)" class="tablinks" onclick="showTab(event, 'membrane')">Membrane</a></li>
							</ul>
							<div id="feed" class="tabcontent">
  								Flow rate (kg/hr)<br>
  								<input type="text" name="FlowRate" value="1.5" > <br>
  								Temperature (C)<br>
  								<input type="text" name="Temp" value="80" > <br>
 								 Salinity (wt%)<br>
 								 <input type="text" name="Sal" value="4.2" > 
							</div>
							<div id="coolant" class="tabcontent">
  								Flow rate (kg/hr) <br>
  								<input type="text" name="FlowRate" value="1.5" > <br>
  								Temperature (C)<br>
  								<input type="text" name="Temp" value="80" > <br>
 								 Salinity (wt%)<br>
 								 <input type="text" name="Sal" value="4.2" > 
							</div>
								<button id="exit">Cancel</button>
								<button id="OK">Ok</button>
						</dialog>
					</div>	
				</div>
			</main>
			<nav id="nav">
				<div class="innertube">
					<div class="tools">
							<fieldset class='fieldset1'>
								<legend>tools</legend>
				  						{% for data in processData.processType %}
										<input class="process" type="button" id="{{data}}" draggable="true" value="{{data}}" ondragstart="startDrag(event)"><br>
										{% endfor %}	  
							</fieldset>
					</div>
				</div>
			</nav>
		</div>

	</body>
</html>